{{/*
    sectionId: Optional argument to override the default HTML id for this section. If not provided, the default id is used. */}}
    
    {{ $style := resources.Get "scss/eren.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    
    

  {{ $sectionId := "activity-list-shortcode" }}
  {{ with .Get "sectionId" }}
    {{ $sectionId = . }}
  {{ end }}
  
  {{ $padding := .Get "padding" }}
  {{ $title := .Get "title" | default "" }}
  {{ $containerClass := "" }}
  {{ if eq $padding "true" }}
      {{ $containerClass = "container" }}
  {{ end }}
  
  <section id="{{ $sectionId }}" class="section-activity section section--border-bottom rad-animation-group">
    {{ if $title }}
              <h2 class="section__title mb-4">{{ $title }}</h2>
              {{ end }}
    <div class="timeline">
      {{ $xp := (where .Site.RegularPages.ByDate "Type" "activity") }}
      {{ $xpCount := len $xp }}
      {{ range $index, $element := first $xpCount (sort $xp "Date" "desc") }}
      <div class="timeline-item {{ if modBool $index 2 }}right{{ else }}left{{ end }}">
        <div class="timeline-icon">
          <span class="timeline-dot">{{ .Params.duration }}</span>
        </div>
        <div class="timeline-content">
          <h3 class="timeline-title">{{ .Params.jobTitle }}</h3>
          <p class="timeline-company">{{ .Params.company }} <span class="timeline-location">{{ .Params.location }}</span></p>
          <div class="timeline-description">
            <h4>{{ .Params.title }}</h4>
            {{ .Content | safeHTML }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>
  

